
.Heading{
    text-align: right;
}

h3{
    text-align: left;
}

body{
    background-color: lightblue;
}

.sign-upbt{
    background-color: white;
    border: 5px solid white;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: 300px;
        width: 15%;
    padding: 10px 10px 10px 10px;
}

input{
    border: 1px solid black;
    padding: 6px;
}

input:placeholder-shown{
    border-color: gray;
    color: gray;
}
